#association-info {
    background-color: #065A30;
}

.association-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #065A30;
    padding-top: 8rem;
    flex-wrap: wrap;    
}

@media screen and (max-width: 768px) {
    .association-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #065A30;
        padding-top: 3rem;
    }
    
}

.association-info-members {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .association-info-members {
        width: 100%;
    }
    
}

.association-info-text {
    width: 50%;
    padding-left: 1.8rem;
}

@media screen and (max-width: 768px) {
    .association-info-text {
        width: 100%;
    }
    
}


.association-info-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .association-info-title {
        flex-direction: column;
        justify-content: center;
    }
    
}

.association-info-title h1 {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 2.75rem;
    letter-spacing: 1px;
    color: #29f48f;
    animation: fadeInUp;
    animation-duration: 1s; 
}

@media screen and (max-width: 768px) {
    .association-info-title h1 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.75rem;
        letter-spacing: 1px;
        color: #29f48f;
        animation: fadeInUp;
        animation-duration: 1s; 
        margin-bottom: 2rem;
    }   
}

.association-info-title img {
    width: 250px;
    height: 180px;
}

.association-info-description {
    padding: 1.2rem 1.2rem 1.2rem 0;
}

.association-info-description p:first-child {
    padding-top: 30px;
    font-size: 19px;
    line-height: 19px;
    text-align: justify;
    color: #FFF;
}

.association-info-description p {
    padding-top: 30px;
    font-size: 16px;
    line-height: 25.6px;
    text-align: justify;
    color: #FFF;
}

#association-info .triangle-up {
    margin-top: 110px;
}
