@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
}

body {
    background-color: #FFF;
    height: 1800px;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #FFF;
}