#news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 90px;
}

.news-info {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.news-main-text h1 {
    font-size: 48px;
    font-weight: 400;
    color: #065A30;
    line-height: 52.8px;
    animation: fadeInUp;
    animation-duration: 1s; 
}

.join-military-career {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    padding: 20px;
}

.join-military-career h1 {
    font-size: 20px;
    line-height: 22.9px;
    color: #065A30;
    animation: fadeInUp;
    animation-duration: 1s; 
}

.join-military-career p {
    font-size: 16px;
    line-height: 25.6px;
    color: #374951;
    padding-bottom: 10px;
}

.join-military-career a {
    text-decoration: none;
    color: #144659;
    width: 160px;
    height: 45px;
    background-color: #29F48F;
    text-align: center;
    font-size: 16px;
    line-height: 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    vertical-align: center;
    margin-bottom: 20px;
}

.separator {
    width: 25px;
    height: 2px;
    background-color: #065A30;
    margin-left: 20px;
    animation: bounceIn;
    animation-duration: 1s; 
}