#veterans-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20.95rem;

}

@media screen and (max-width: 768px) {
    #veterans-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }   
}

.veterans-info-title {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 768px) {
    .veterans-info-title {
        text-align: center;
        margin-bottom: 2rem;
        width: 100%;
        padding: 1rem 2rem 0 2rem;
    }
    
}

.veterans-info-title h1 {
    font-size: 32px;
    line-height: 35px;
    color:#065A30;
    margin-left: 0;
    animation: fadeInUp;
    animation-duration: 1s; 
}


.veterans-info-text {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .veterans-info-text {
        width: 100%;
        padding: 2rem;
    }
}

.veterans-info-text p {
    font-size: 16px;
    line-height: 25.6px;
    color:#4E5E65;
    text-align: justify;
}